<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <%- partial('partial/head') %>
</head>
<body>
  <%- partial('partial/header') %>
  <main class="main">
    <div class="container">
      <%- body %>
    </div>
  </main>
  <%- partial('partial/footer') %>
</body>
</html>
